.jumbotron {
    background-image: url("/Images/tbell.jpg");
    background-size: cover;
    color: whitesmoke;
    /* max-width: 50%;
    max-height: 50%; */
}

h3 {
    text-align: center;
}

.scam {
 font-family: cursive;   
}

.scam-link {
    font-family: fantasy;
}

p {
    text-align: center;
}

.lastWord {
    color: red; 
}

.flex-container {
    display:flex;
    background-color: royalblue;
    flex-wrap: wrap;
    align-items: baseline;
}

img {
  width: 125px;
  border: 5px solid salmon;
  margin-top: 15px
}
.flex-container > div {
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 25px;
    flex: 0 0 125px;
}